.title1{
    margin: 40px;
    text-align: center;
    font-size: larger;
}
.cross{
    margin: 25px;
}
.rule1{
    display: flex;
    margin-top: 25px;
}
.R11{
margin-left: 20px;
margin-top: 20px;
}
.header img{
    width: 900px;
    height: 800px;
}
.header{
    margin: 25px;
}

